<!DOCTYPE html>
{% load staticfiles %}
<html>
{% block body_block %}
    <h1>Hello this is index.html </h1>
    {{ insert_hello|capfirst }}
    <img src="{% static "images/jslogo.png" %}" alt="Image not showing up">
    <body>
      <a href="{% url 'firstapp:show_form'%}"> send to form page</a>
      <a href="{% url 'admin:index'%}"> send to admin page</a>
      <div>
        {% if access_records %}
          <table>
          <thead>
            <tr>
              <th>SiteName</th>
              <th>DateAccesed</th>
            </tr>
          </thead>
          <tbody>
            {% for arr in access_records %}
            <tr>
              <td>{{ arr.name }}</td>
              <td>{{ arr.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p> NO ACCESS RECORD FOUND</p>
        {% endif %}
      </div>
    </body>
  {% endblock %}
  <h1>THIS IS AN INHERIT TITLE FROM INDEX.HTML</h1>
</html>
